<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>New Match</title>
	<link rel="stylesheet" th:href="@{css/new-match.css}" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Akshar' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ADLaM Display' rel='stylesheet'>
</head>
<body>
    <div class="header">
        <div class="headerLine">
            <div class="headerLogoBox">
                <p>Tennis scoreboard</p>
            </div>
            <div class="headerLogoBox">
                <a th:href="@{/}">Home</a>
                <a th:href="@{/matches}">Matches</a>
            </div>
        </div>
    </div>
    <main>
        <div class="errorContainer">
            <div th:if="${error!=null}"  class="error">
                <p th:text="${error}"></p>
            </div>
        </div>
        <div class="formContainer">
            <form th:action="@{/new-match}" method="POST">
                <div class="insideFormContainer">
                    <div class="labelsInputsContainer">
                        <div class="oneMoreLInputsContainer">
                            <label><p>First player</p></label>
                            <input type="text" name="player1">
                            <label><p>Second player</p></label>
                            <input type="text" name="player2">
                        </div>
                    </div>
                    <div class="buttonContainer">
                        <button>Start Match</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>